In [12]:
import selenium
from selenium import webdriver
import time
import pandas as pd

In [13]:
def get_drive_launch(url):
    driver = webdriver.Chrome('./driver/chromedriver.exe')
    driver.maximize_window()
    driver.implicitly_wait(10)
    driver.get(url)
    return driver

In [33]:
def get_highlevel_details_naukri(job, location = None, salary_range=None, stop=None, use_filter=False):
    url = 'https://www.naukri.com/'
    drivr = get_drive_launch(url)

    drivr.find_element_by_id("qsb-keyword-sugg").send_keys(job)
    if ((location) and (not use_filter)):
        drivr.find_element_by_id('qsb-location-sugg').send_keys(location)
    time.sleep(2)
    drivr.find_element_by_xpath("//div[@class='search-btn']/button").click()
    #click to expand location filter
    
    
    if use_filter:        
        if location:
            time.sleep(3)
            
            try:
                drivr.find_element_by_xpath("//span[@class = 'ellipsis fleft' and contains(text(), "+"'"+location+"'"+")]/../preceding-sibling::i").click()
            except:
                drivr.find_element_by_xpath("//div[@data-filter-id='citiesGid']//a").click()
                time.sleep(3)
                drivr.find_element_by_xpath("//span[@class = 'ellipsis fleft' and contains(text(), "+"'"+location+"'"+")]/../preceding-sibling::i").click()
        if salary_range:

            try:
                drivr.find_element_by_xpath("//span[contains(text(), "+"'"+salary_range+"'"+")]/../preceding-sibling::i").click()
            except:
                drivr.find_element_by_xpath("//div[@data-filter-id='salaryRange']//a").click()
                time.sleep(3)
                drivr.find_element_by_xpath("//span[contains(text(), "+"'"+salary_range+"'"+")]/../preceding-sibling::i").click()

    time.sleep(5)
    print(drivr.find_element_by_xpath("//div[@class='sortAndH1Cont']/h1").text)
    titles=[]
    companies=[]
    exps=[]
    salaries=[]
    locs=[]

    job_titles = drivr.find_elements_by_xpath("//div[@class='info fleft']/a")
    job_companies = drivr.find_elements_by_xpath("//div[@class='info fleft']/div/a[1]")
    job_exps = drivr.find_elements_by_xpath("//div[@class='info fleft']/ul/li[1]")
    job_salaries = drivr.find_elements_by_xpath("//div[@class='info fleft']/ul/li[2]")
    job_locations = drivr.find_elements_by_xpath("//div[@class='info fleft']/ul/li[3]")
    for job_title, job_company, job_exp, job_salary, job_loc in zip(job_titles[:stop],job_companies[:stop],job_exps[:stop],job_salaries[:stop],job_locations[:stop]):
        titles.append(job_title.text)
        companies.append(job_company.text)
        exps.append(job_exp.text)
        salaries.append(job_salary.text)
        locs.append(job_loc.text)
    
    return drivr, pd.DataFrame({'Job Title':titles, 'Company':companies, 'Experience Required':exps,'Salary offered':salaries, 'Location':locs})

In [29]:
def get_full_descrp_naukri(driver, stop = None):
    main_window = driver.current_window_handle
    all_windows = driver.window_handles

    for window in all_windows:
        if window != main_window:
            driver.switch_to.window(window)
            driver.close()

    driver.switch_to.window(main_window)
    main_window = driver.current_window_handle
    all_windows = driver.window_handles

    full_descriptions = []

    for element in driver.find_elements_by_xpath("//div[@class='info fleft']/a")[:stop]:
        element.click()
        time.sleep(2)
        all_windows = driver.window_handles
        driver.switch_to.window(all_windows[1])
        try:
            full_descriptions.append(driver.find_element_by_xpath("//section[@class='job-desc']").text)
        except:
            full_descriptions.append(driver.find_element_by_xpath("//div[@class='clearboth description']").text)
        driver.close()
        driver.switch_to.window(main_window)
    return driver, full_descriptions

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data. 

Note- All of the above steps have to be done in code. No step is to be done manually

In [30]:
d, dataFrame = get_highlevel_details_naukri('Data Analyst', location='Bangalore', stop=10)
d.quit()
dataFrame

Data Analyst Jobs In Bangalore

,Job Title,Company,Experience Required,Salary offered,Location
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
1,Data Analyst,Super India Tech Mark,0-2 Yrs,"70,000 - 1,25,000 PA.",Bangalore/Bengaluru(Chintamani)
2,Data Analyst,Super India Tech Mark,0-2 Yrs,"1,25,000 - 2,25,000 PA.",Bangalore/Bengaluru(Devalapur)
3,Data Analyst,tech mahindra ltd,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs,Not disclosed,Bangalore/Bengaluru
5,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-7 Yrs,Not disclosed,"Mumbai, Bangalore/Bengaluru"
6,Data Analyst,Xiaomi,2-6 Yrs,Not disclosed,Bangalore/Bengaluru
7,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,2-7 Yrs,"4,00,000 - 9,00,000 PA.","Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
8,Senior Data Analyst,Cerner,3-5 Yrs,Not disclosed,Bangalore/Bengaluru
9,Data Analyst / Business Analyst,LatentView Analytics Private Limited,1-6 Yrs,Not disclosed,"Chennai, Bangalore/Bengaluru"

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- 
1. All of the above steps have to be done in code. No step is to be done manually.
2. Please note that you have to scrape full job description. For that you may have to open each job separately as shown below

In [31]:
d, dataFrame = get_highlevel_details_naukri('Data Scientist', location='Bangalore', stop=10)
d, dataFrame['Full Description'] = get_full_descrp_naukri(d, 10)
d.quit()
dataFrame.drop(['Experience Required', 'Salary offered'], axis=1, inplace = True)
dataFrame

Data Scientist Jobs In Bangalore

,Job Title,Company,Location,Full Description
0,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Roles and Responsibilities - The bank generate...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Job description\nData Scientist - Data Mining/...
2,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bangalore/Bengaluru,Job description\nJob Description :\n- We are l...
3,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\no...
4,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,Job description\nLocation - Bangalore / Bengal...
5,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",Job description\nJob description\nJob Summary ...
6,Analytics & AI Product Mgmt - Sr. Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,GSK is one of the world’s foremost pharmaceuti...
7,Data Scientist: Machine Learning,Fractal Analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Job description\n\nPosition Description:\nThe ...
8,"Senior Data Scientist, , Data Science",Visa Inc.,Bangalore/Bengaluru,Job description\nWe are seeking an innovative ...
9,Lead Data Scientist - Immediate Joiners are Re...,Techolution India Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Job description\nWe are looking for qualified ...

In [32]:
dataFrame.loc[2, 'Full Description']

"Job description\nJob Description :\n- We are looking for a researcher who specializes in building personalization/recommender systems algorithm (ML APIs) for the applications mentioned above and work with our engineers to deploy them as scale.\nWhat you will do :\n- Apply your research expertise to build our ML-driven recommender system products, help us develop new solutions and unlock new directions, as well as analyse and optimise the systems we already. \n- You'll work closely with product teams and mentor them on best practices for modern ML, and keep the wider team informed on the state-of-the-art. In addition, you will be in a strategic position to influence future roadmaps for recommender system products.\n- Collaborate with a cross-functional agile team spanning user research, design, data science, product management, and engineering to build new product features that advance our mission to connect artists and fans in personalized and relevant ways.\n- Prototype new approaches and production-ize solutions at scale for our hundreds of thousands of active users. Help drive optimization, testing, and tools to improve quality.\nRequirements :\n- Master, Post-graduate or Ph.D. in computer science, machine learning, information retrieval, recommendation systems, natural language processing, statistics, math, engineering, operations research, or another quantitative discipline; or equivalent work experience.\n- Good theoretical grounding in core machine learning concepts and techniques.\n- Ability to perform comprehensive literature reviews and provide critical feedback on state-of-the-art solutions and how they may fit different operating constraints.\n- Experience with a number of ML techniques and frameworks, e.g. Natural Language Processing, Recommender Systems, sampling, linear regression, decision trees, SVMs, deep neural networks, etc.\n- Familiarity with one or more Deep learning software frameworks such as Tensorflow, PyTorch.\nRoleAnalytics Manager\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :M.Tech in Computers, MS/M.Sc(Science) in Computers\nKey Skills\nTensorflowNLPPyTorchdata scienceproduct managementdesignDeep Learning"

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

1. You have to use the location and salary filter.
2. You have to scrape data for “Data Scientist” designation for first 10 job results.
3. You have to scrape the job-title, job-location, company_name, experience_required.

1. The location filter to be used is “Delhi/NCR”
2. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .WEB SCRAPING ASSIGNMENT-2.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [34]:
driver,dataFrame=get_highlevel_details_naukri('Data Scientist', location = 'Delhi / NCR', salary_range='3-6 Lakhs', stop=10, use_filter=True)
driver.quit()
dataFrame.drop(['Salary offered'],axis=1,inplace=True)
dataFrame

Data Scientist Jobs

,Job Title,Company,Experience Required,Location
0,Developer - Data Science,ICL Systems India Private Limited,3-5 Yrs,Delhi / NCR
1,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,4-9 Yrs,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu..."
2,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,5-10 Yrs,"Mumbai, Ghaziabad"
3,Business Consultant Data Scientist,StriveX Consulting Pvt. Ltd,2-4 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
4,Data Scientist,Amity University,6-8 Yrs,"Ghaziabad, Faridabad, Delhi / NCR"
5,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,2-7 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal..."
6,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,2-7 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Data Scientist - Machine Learning/ NLP,TalPro,2-6 Yrs,Gurgaon/Gurugram
8,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,1-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
9,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."