# WEB SCRAPING ASSIGNMENT 1_SOLUTIONS

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

#### Q1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [35]:
# Function Definition
def header_tags(url):
    a = requests.get(url)
    src = a.content
    soup = BeautifulSoup(src,'html.parser')
    return soup.find_all(["h1","h2","h3","h4","h5"])

# Calling Function
header_tags('https://en.wikipedia.org/wiki/Main_Page')

[<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 id="p-lang-label">
 <span>Languages</span>
 </h3>]

#### Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [36]:
# Function Definition
def IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"secondaryInfo"})):
        year.append(i.text)
    for i in soup.find_all('strong'):
        rating.append(float(i.text))
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100]})
    print(df)
    df.to_csv('IMDB_top_100.csv', index = False)

# Calling Function
IMDB_top_100("https://www.imdb.com/chart/top/")

                       names   years  ratings
0   The Shawshank Redemption  (1994)      9.2
1              The Godfather  (1972)      9.1
2     The Godfather: Part II  (1974)      9.0
3            The Dark Knight  (2008)      9.0
4               12 Angry Men  (1957)      8.9
..                       ...     ...      ...
95                    Jagten  (2012)      8.3
96              Citizen Kane  (1941)      8.3
97                      1917  (2019)      8.3
98         Full Metal Jacket  (1987)      8.2
99       Ladri di biciclette  (1948)      8.2

[100 rows x 3 columns]

#### Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [37]:
# Function Definition
def Indian_IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"secondaryInfo"})):
        year.append(i.text)
    for i in soup.find_all('strong'):
        rating.append(float(i.text))
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100]})
    print(df)
    df.to_csv('indian_IMDB_top_100.csv', index = False)

# Calling Function
Indian_IMDB_top_100("https://www.imdb.com/india/top-rated-indian-movies/")

                          names   years  ratings
0               Pather Panchali  (1955)      8.5
1                      Gol Maal  (1979)      8.5
2                      Ratsasan  (2018)      8.5
3                       Nayakan  (1987)      8.5
4                    Anbe Sivam  (2003)      8.5
..                          ...     ...      ...
95                  Section 375  (2019)      8.0
96         Lage Raho Munna Bhai  (2006)      8.0
97                      Deewaar  (1975)      8.0
98                       Indian  (1996)      8.0
99  Dilwale Dulhania Le Jayenge  (1995)      8.0

[100 rows x 3 columns]

#### Q4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’.

In [38]:
# Function Definition
def bookpage():
    response = requests.get('https://bookpage.com/reviews/')
    soup = BeautifulSoup(response.content, 'html.parser')
    url_tags = soup.find_all('div', attrs = {'class': 'row-fluid article-row'})
    urls = [i.find('h4').find_all('a')[0]['href'] for i in url_tags[0:5]]
    book_dict = {}
    book_dict["Book Name"] = []
    book_dict["Author"] = []
    book_dict["Genre"] = []
    book_dict["Review"] = []
    for url in urls:
        book = requests.get('https://www.bookpage.com'+url)
        soup = BeautifulSoup(book.content, 'html.parser')
        book_dict["Book Name"].append(soup.find('h1').text.replace('\n',''))
        book_dict["Author"].append(soup.find('h4').text.replace('\n',''))
        book_dict["Genre"].append(soup.find('p', attrs = {'class':'genre-links'}).text.replace('\n',''))
        book_dict["Review"].append(soup.find('div', attrs = {'class':'article-body'}).text.replace('\n',''))
    book_df = pd.DataFrame.from_dict(book_dict)
    book_df.to_csv('Book Reviews.csv', index = False)
    return book_df

# Calling Function
bookpage()

,Book Name,Author,Genre,Review
0,Paper Bullets,Jeffrey H. Jackson,Nonfiction / History / European History,Although it’s been 75 years since the end of W...
1,White Ivy,Susie Yang,Fiction / Coming of Age,"Ivy Lin is no monster, but sometimes, when suf..."
2,Miss Benson’s Beetle,Rachel Joyce,Fiction / Historical Fiction,"Rachel Joyce’s first novel, The Unlikely Pilgr..."
3,★ To Hold Up the Sky,Cixin Liu,Science Fiction & Fantasy / Science Fiction / ...,Short stories in science fiction are frequentl...
4,★ The Book Collectors,Delphine Minoui,Nonfiction / Biography / World Politics,“Books bring us closer together. They’re a bri...

#### Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.                                 
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.                                             
iii) Top 10 ODI bowlers along with the records of their team and rating.

### Solution:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [39]:
# Function Definition
def Top_10_ODI_team(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    team=[]
    match=[]
    rating=[]
    for i in soup.find_all('span',attrs={'u-hide-phablet'}):
        team.append(i.text)
    match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
    rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
    count=0
    for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
        if count%2==0:
            match.append(i.text)
        else:
            rating.append(i.text)
        count+=1
    df=pd.DataFrame({'Team':team[:10],
                     'Match':match,
                     'Points':rating})
    df.to_csv('top_10_odi_teams_men.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_team('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

           Team Match Points
0       England    44  5,405
1         India    49  5,819
2   New Zealand    32  3,716
3     Australia    36  3,941
4  South Africa    31  3,345
5      Pakistan    35  3,590
6    Bangladesh    34  2,989
7     Sri Lanka    39  3,297
8   West Indies    43  3,285
9   Afghanistan    28  1,549

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [41]:
# Function Definition
def Top_10_ODI_batsman(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_odi_batsman.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

                  Name     Team points
0          Virat Kohli  \n\nIND    871
1         Rohit Sharma      IND    855
2           Babar Azam      PAK    837
3          Ross Taylor       NZ    818
4  Francois du Plessis       SA    790
5      Kane Williamson       NZ    765
6          Aaron Finch      AUS    762
7         David Warner      AUS    759
8      Quinton de Kock       SA    755
9       Jonny Bairstow      ENG    754

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [42]:
def Top_10_ODI_bowler(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_odi_bowler.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

               Name    Team points
0       Trent Boult  \n\nNZ    722
1    Jasprit Bumrah     IND    719
2  Mujeeb Ur Rahman     AFG    701
3      Chris Woakes     ENG    675
4     Kagiso Rabada      SA    665
5       Pat Cummins     AUS    659
6    Josh Hazlewood     AUS    654
7     Mohammad Amir     PAK    647
8        Matt Henry      NZ    641
9      Jofra Archer     ENG    637

#### Q6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.                                  
ii) Top 10 women’s ODI players along with the records of their team and rating.                                                
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating. 

#### Solutions:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [43]:
# Function Definition
def Top_10_Women_ODI_team(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    team=[]
    match=[]
    rating=[]
    for i in soup.find_all('span',attrs={'u-hide-phablet'}):
        team.append(i.text)
    match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
    rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
    count=0
    for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
        if count%2==0:
            match.append(i.text)
        else:
            rating.append(i.text)
        count+=1
    df=pd.DataFrame({'Team':team[:10],
                     'Match':match,
                     'Points':rating})
    df.to_csv('top_10_women_odi_teams.csv', index = False)
    print(df)

# Calling Function
Top_10_Women_ODI_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

           Team Match Points
0     Australia    15  2,436
1         India    15  1,812
2       England    14  1,670
3  South Africa    16  1,713
4   New Zealand    15  1,384
5   West Indies    12  1,025
6      Pakistan    12    927
7    Bangladesh     5    306
8     Sri Lanka    11    519
9       Ireland     2     25

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [44]:
# Function Definition
def Top_10_Women_ODI_player(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_women_odi_player.csv', index = False)
    print(df)

# Calling Function
Top_10_Women_ODI_player("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

                Name     Team points
0        Meg Lanning  \n\nAUS    749
1    Stafanie Taylor       WI    746
2       Alyssa Healy      AUS    741
3    Smriti Mandhana      IND    732
4  Amy Satterthwaite       NZ    723
5     Tammy Beaumont      ENG    716
6       Ellyse Perry      AUS    691
7        Lizelle Lee       SA    690
8    Laura Wolvaardt       SA    689
9        Mithali Raj      IND    687

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [45]:
#Function Definition
def Top_10_Women_ODI_Allrounder(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_women_odi_allrounder.csv', index = False)
    print(df)

# Calling function
Top_10_Women_ODI_Allrounder("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

               Name     Team points
0      Ellyse Perry  \n\nAUS    460
1   Stafanie Taylor       WI    410
2    Marizanne Kapp       SA    389
3     Deepti Sharma      IND    359
4  Dane van Niekerk       SA    335
5     Jess Jonassen      AUS    301
6     Sophie Devine       NZ    289
7    Natalie Sciver      ENG    273
8     Shikha Pandey      IND    250
9   Katherine Brunt      ENG    232

#### Q7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [16]:
# Function Definition
def amazon_mob(url):
    driver=webdriver.Chrome('chromedriver.exe')
    start_page=0
    end_page=4
    urls = []
    name=[]
    price=[]
    image=[]
    rating=[]
    #loop to fetch urls of each mobile till page 5
    for page in range(start_page,end_page+1):
        driver.get(url)
        soup= BeautifulSoup(driver.page_source, 'html.parser')
        prod_urls = soup.find_all('a', attrs ={'class':'a-link-normal a-text-normal'})
        for prod in prod_urls:
            urls.append('https://www.amazon.in'+prod.get('href'))
    
    #loop to scrap required details from each mobile page
    for url in urls:
        driver.get(url)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        n = soup.find('h1',attrs={'id':'title'})
        if n is not None:
            name.append(n.find('span').text.replace('\n',''))
        else:
            name.append('-')
        rat = soup.find('div', attrs = {'id':'averageCustomerReviews'})
        if rat is not None:
            rating.append(rat.find('i').find('span').text)
        else:
            rating.append('-')
        p = soup.find('span', attrs = {'class':'a-size-medium a-color-price priceBlockDealPriceString'})
        if p is not None:
            price.append(p.text[2:])
        else:
            p = soup.find('div', attrs = {'id':'price'})
            if p is not None:
                price.append(p.find('span').text[2:])
            else:
                price.append('-')
        img = soup.find('div', attrs = {'class':'imgTagWrapper'})
        if img is not None:
            image.append(img.find('img').get('src'))
        else:
            image.append('-')
    mob_df = df=pd.DataFrame({'Name':name,
                              'Price':price,
                              'Rating':rating,
                              'Image_link':image})
    print(mob_df)
    mob_df.to_csv('Amazon Mobiles.csv', index = False)
    
    
# Calling Function
amazon_mob('https://www.amazon.in/s?k=mobile+phones+under+20000&rh=n%3A1389432031&dc&qid=1604132579&rnid=3576079031&ref=sr_nr_n_1')

                                                  Name      Price  \
0    Redmi Note 9 Pro (Champagne Gold, 4GB RAM, 128...  13,999.00
1    Samsung Galaxy M01 (Black, 3GB RAM, 32GB Stora...   7,999.00
2    Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...  12,499.00
3    Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storage...   7,999.00
4    Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128...  18,499.00
..                                                 ...        ...
125  Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage...   7,990.00
126  Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) ...   7,990.00
127  Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 64GB ...  15,499.00
128  Tecno Spark 6 Air (Ocean Blue, 3GB RAM, 32GB S...   9,999.00
129                 Nokia 105 2019 (Single SIM, Black)   1,249.00

                 Rating                                         Image_link
0    4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
1    3.9 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
2    4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
3    4.0 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
4    4.3 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
..                  ...                                                ...
125  4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
126  4.1 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
127  4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
128  3.9 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
129  4.1 out of 5 stars  https://images-na.ssl-images-amazon.com/images...

[130 rows x 4 columns]

#### Q8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [47]:
# Function Definition
def weather(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    period=[]
    short_desc=[]
    temp=[]
    desc=[]
    for i in soup.find_all('p',attrs={'period-name'}):
        period.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        short_desc.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temp.append(i.next_sibling.text)
        else:
            temp.append(' ')
    for i in soup.find_all('div',attrs={"col-sm-10 forecast-text"}):
        desc.append(i.text)
    df=pd.DataFrame({"period":period,
                     "short_description":short_desc,
                     "temperature":temp,
                     "description":desc[:9]})
    df.to_csv('Extended_forecast.csv')
    print(df)

# Calling Function
weather("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X6Pyxe3hWMo")

                period   short_description  temperature  \
0  NOW until6:00am Sat  High Surf Advisory
1            Overnight       ChanceShowers   Low: 49 °F
2             Saturday               Sunny  High: 60 °F
3        SaturdayNight        Mostly Clear   Low: 50 °F
4               Sunday               Sunny  High: 60 °F
5          SundayNight        Mostly Clear   Low: 46 °F
6               Monday        Mostly Sunny  High: 58 °F
7          MondayNight       Partly Cloudy   Low: 45 °F
8              Tuesday        Mostly Sunny  High: 62 °F

                                         description
0  A 30 percent chance of showers.  Partly cloudy...
1  Sunny, with a high near 60. Light and variable...
2  Mostly clear, with a low around 50. Northwest ...
3  Sunny, with a high near 60. North northwest wi...
4  Mostly clear, with a low around 46. North nort...
5                 Mostly sunny, with a high near 58.
6               Partly cloudy, with a low around 45.
7                 Mostly sunny, with a high near 62.
8               Partly cloudy, with a low around 47.

#### Q9. Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [33]:
# Function Definition
def soft_dev(url):
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    start_page=0
    end_page=4
    urls=[]
    job_names=[]
    company=[]
    location=[]
    experience=[]
    salary=[]
    for page in range(start_page,end_page+1):
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        jobs=soup.find_all('div', attrs ={'class':'job-tittle'})
        for job in jobs:
            l=job.text.split('\n')
            job_names.append(l[0].split('  ')[0])
            company.append(l[0].split('  ')[1])
            location.append(l[1])
            experience.append(l[2])
            salary.append(l[3])
    
        nxt_button=driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

    job_df=pd.DataFrame({'Job_Names':job_names,
                         'Company':company,
                         'location':location,
                         'Experience':experience,
                         'Salary':salary})
    job_df.to_csv('Software Developer_Monster', index = False)
    print(job_df)

# Calling Function
soft_dev("https://www.monsterindia.com/srp/results?query=software%20developer&searchId=1eef9a54-8213-4bcf-9ef7-8605ec8202c5")

                                             Job_Names  \
0                 Hiring "Software Developer" - Mumbai
1                                      Api Development
2                                    Android Developer
3                          Gunank Technologies PVT LTD
4                                   Software Developer
..                                                 ...
120                                 Software Developer
121                         Frontend Software Engineer
122  URGENT REQUIRED 15 JAVA DEVELOPERS (FRESHER) F...
123  Senior Development Engineer In Test (SDET) - A...
124  URGENT REQUIRED 15 JAVA DEVELOPERS (FRESHER) F...

                                             Company  \
0                                        HR Dynamics
1          TalentFirst HR Consulting Private Limited
2                     Smit Job Placement Consultancy
3                Gunank Technologies Private Limited
4                               DXC Technology India
..                                               ...
120                 Orange Technolab Private Limited
121                             India Manpower Group
122  TRANSVISION SOFTWARE AND DATA SOLUTIONS PVT LTD
123             Vitestork Consulting Private Limited
124  TRANSVISION SOFTWARE AND DATA SOLUTIONS PVT LTD

                                              location  \
0                                    Mumbai, Mumbai...
1                                    Bengaluru / Ba...
2                                                Delhi
3                                            Singrauli
4                                    Bengaluru / Ba...
..                                                 ...
120                                          Ahmedabad
121                                          Mangalore
122                                  Bengaluru / Ba...
123                                  Bengaluru / Ba...
124                                  Bengaluru / Ba...

                                     Experience  \
0                                   2-6 Years
1                                  8-12 Years
2                                   0-2 Years
3                                   3-4 Years
4                                   5-9 Years
..                                          ...
120                                 2-6 Years
121                                 0-3 Years
122                                 0-1 Years
123                                8-15 Years
124                                 0-1 Years

                                                Salary
0                                        Not Specified
1                                        Not Specified
2                                    1,70,000-3,00,...
3                                    20,000-30,000 INR
4                                        Not Specified
..                                                 ...
120                                  3,00,000-7,00,...
121                                  3,00,000-6,30,...
122                                      Not Specified
123                                      Not Specified
124                                      Not Specified

[125 rows x 5 columns]

#### Q10. Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [34]:
# Function Definition
def data_sci(url):
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    start_page=0
    end_page=4
    urls=[]
    job_names=[]
    company=[]
    location=[]
    experience=[]
    salary=[]
    for page in range(start_page,end_page+1):
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        jobs=soup.find_all('div', attrs ={'class':'job-tittle'})
        for job in jobs:
            l=job.text.split('\n')
            job_names.append(l[0].split('  ')[0])
            company.append(l[0].split('  ')[1])
            location.append(l[1])
            experience.append(l[2])
            salary.append(l[3])
    
        nxt_button=driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

    job_df=pd.DataFrame({'Job_Names':job_names,
                         'Company':company,
                         'location':location,
                         'Experience':experience,
                         'Salary':salary})
    job_df.to_csv('Data Scientist_ND_Monster', index = False)
    print(job_df)

# Calling Function
data_sci("https://www.monsterindia.com/srp/results?query=Data%20Scientist&locations=Delhi&searchId=ebc9a3bb-97c5-4647-8eac-ad5d9d92d3fc")

                                             Job_Names  \
0                                   Data Engineer - AI
1                                        Data Engineer
2                                          Urgent Mass
3                             Data Analyst / Fresher /
4                             Data Analyst / Fresher /
..                                                 ...
120                      Data migration tool developer
121  Urgent mass hiring for data entry operator Bac...
122  SNAPDEAL DATA ENTRY OPERATOR PROCESS Fresher c...
123  urgent mass hiring for Data entry operations ,...
124                                US Pharma recruiter

                                Company  \
0                      Snaphunt Pte Ltd
1                      Snaphunt Pte Ltd
2                                Hiring
3     Data Scientist / Graduate Fresher
4     Data Scientist / Graduate Fresher
..                                  ...
120         URS Systems Private Limited
121                         Call 2 Hire
122                     NKV Enterprises
123                         Call 2 Hire
124   US Tech Solutions Private Limited

                                              location  \
0                                    Bengaluru / Ba...
1                                    Bengaluru / Ba...
2                                         Delhi, Noida
3                                     Delhi, Ghaziabad
4                                     Delhi, Ghaziabad
..                                                 ...
120                                  Bengaluru / Ba...
121                                  Delhi, Gurgaon...
122                                  Delhi, Gurgaon...
123                                  Delhi, Gurgaon...
124                                       Delhi, Noida

                                     Experience  \
0                                   0-5 Years
1                                   2-7 Years
2                                   0-2 Years
3                                   0-5 Years
4                                   0-5 Years
..                                          ...
120                                7-12 Years
121                                   Fresher
122                                 0-5 Years
123                                   Fresher
124                                 1-3 Years

                                                Salary
0                                        Not Specified
1                                        Not Specified
2                                        Not Specified
3                                        Not Specified
4                                        Not Specified
..                                                 ...
120                                      Not Specified
121                                      Not Specified
122                                  1,80,000-2,70,...
123                                      Not Specified
124                                      Not Specified

[125 rows x 5 columns]

# End of Document