# Importing Libraries

In [60]:
#selenium libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException, ElementClickInterceptedException

import time as t
import pandas as pd
import re

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

import requests
import urllib.parse
import os
import shutil

In [61]:
def get_drive_launch(url):
    """
    This function initiates the Chrome browser's driver with the url passed as a parameter and returns the driver instance.
    Parameters:
        url - url of the website
    return:
        driver - driver instance of the chrome browser    
    """
    #creating driver instance
    driver = webdriver.Chrome('./driver/chromedriver.exe')
    driver.maximize_window()
    
    #defining implicit wait
    driver.implicitly_wait(10)
    
    #launching the url
    driver.get(url)
    
    return driver

## 1.Scrape the details of most viewed videos on YouTube from Wikipedia:  
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos.  

You need to find following details:  

A) Rank 

B) Name 

C) Artist 

D) Upload date 

E) Views

In [62]:
def scrape_most_viewed_videos_youtube(url):
    table_MN = pd.read_html(url, match='Top 30 most-viewed YouTube videos')[0]
    table_MN.drop(['Note','Unnamed: 6'], axis = 1,inplace = True)
    table_MN.rename(columns={'No.':'Rank'},inplace=True)
    df = table_MN[:-1].copy()
    df['Video name'] = df['Video name'].apply(lambda x: x.split('[')[0])
    return df

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
data = scrape_most_viewed_videos_youtube(url)
data

,Rank,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.44,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.32,"January 12, 2017"
2,3.,"""Shape of You""",Ed Sheeran,5.29,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""",LooLoo Kids,5.24,"October 8, 2016"
4,5.,"""See You Again""",Wiz Khalifa,5.08,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.43,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson,4.16,"November 19, 2014"
7,8.,"""Gangnam Style""",Psy,4.05,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,3.97,"February 27, 2018"
9,10.,"""Bath Song""",Cocomelon – Nursery Rhymes,3.95,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.78,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.45,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.43,"October 22, 2015"
13,14.,"""Roar""",Katy Perry,3.34,"September 5, 2013"
14,15.,"""Dame Tu Cosita""",El Chombo,3.28,"April 5, 2018"
15,16.,"""Counting Stars""",OneRepublic,3.27,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.24,"October 7, 2014"
17,18.,"""Dark Horse""",Katy Perry,3.05,"February 20, 2014"
18,19.,"""Faded""",Alan Walker,3.05,"December 3, 2015"
19,20.,"""Shake It Off""",Taylor Swift,3.05,"August 18, 2014"
20,21.,"""Lean On""",Major Lazer Official,3.02,"March 22, 2015"
21,22.,"""Bailando""",Enrique Iglesias,3.01,"April 11, 2014"
22,23.,"""Girls Like You""",Maroon 5,3.01,"May 31, 2018"
23,24.,"""Let Her Go""",Passenger,2.97,"July 25, 2012"
24,25.,"""Mi Gente""",J Balvin,2.90,"June 29, 2017"
25,26.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,2.89,"May 24, 2018"
26,27.,"""Hello""",Adele,2.83,"October 22, 2015"
27,28.,"""Perfect""",Ed Sheeran,2.82,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,2.80,"June 4, 2010"
29,30.,"""Axel F""",Crazy Frog,2.77,"June 16, 2009"

## 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [16]:
def scrape_bcci_fixture(url, choice):
    d = get_drive_launch(url)
    url = d.find_element_by_xpath("//div[contains(text(),'"+choice+"')]/following-sibling::div//ul//a[contains(text(),'Fixtures')]").get_attribute('href')
    d.quit()
    d = get_drive_launch(url)

    match_titles = []
    series_lst = []
    places = []
    dates = []
    times = []

    titles_elemns = d.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
    series_elemns = d.find_elements_by_xpath("//div[@class='fixture__format-strip']")
    places_elemns = d.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']/following-sibling::span")
    dates_elemns = d.find_elements_by_xpath("//span[@class='fixture__date']")
    months_elemns = d.find_elements_by_xpath("//span[@class='fixture__month']")
    years_elemns = d.find_elements_by_xpath("//h3[@class='event-list__date js-date']")
    times_elemns = d.find_elements_by_xpath("//span[@class='fixture__time']")

    for title, series, place, date, month, time in zip(titles_elemns,series_elemns,places_elemns,dates_elemns,months_elemns, times_elemns):
        match_titles.append(title.text.strip())
        series_lst.append(series.text.strip().replace('\n',' Match - '))
        places.append(place.text.strip())
        yr = ''
        for i in years_elemns:
            if month.text.lower() in i.text.lower():
                yr = i.text.strip()
                break
        dates.append(date.text.strip()+" "+yr)
        times.append(time.text.strip())

    data = pd.DataFrame({'Match Title':match_titles, 'Series':series_lst, 'Place':places, 'Date':dates, 'Time':times})
    return d, data

In [17]:
url = 'https://www.bcci.tv/'
d, df = scrape_bcci_fixture(url, 'International')
d.quit()
df

,Match Title,Series,Place,Date,Time
0,Final,TEST Match - ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18 June 2021,15:30 IST
1,1st Test,TEST Match - ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 August 2021,15:30 IST
2,2nd Test,TEST Match - ENGLAND V INDIA 2021,"Lord's, London",12 August 2021,15:30 IST
3,3rd Test,TEST Match - ENGLAND V INDIA 2021,"Headingley, Leeds",25 August 2021,15:30 IST
4,4th Test,TEST Match - ENGLAND V INDIA 2021,"The Oval, London",02 September 2021,15:30 IST
5,5th Test,TEST Match - ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 September 2021,15:30 IST

## 3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [28]:
def scrape_guru(url):
    d = get_drive_launch(url)
    d.find_element_by_xpath("//a[contains(text(),'Selenium')]").click()
    t.sleep(2)

    d.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()
    t.sleep(2)
    url = d.current_url
    df = pd.read_html(url)[0]
    df.columns = df.iloc[0]
    df.drop(0,inplace=True)
    
    return d,df

In [29]:
url = 'https://www.guru99.com/'
d,data = scrape_guru(url) 
d.quit()
data

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [87]:
def scrape_statewise_gdp_india(url):
    d = get_drive_launch(url)
    d.find_element_by_xpath("//button[contains(text(),'Economy')]").click()
    d.find_element_by_xpath("//button[contains(text(),'Economy')]/following-sibling::div//a[contains(text(),'India')]").click()
    t.sleep(2)
    frame0 = d.find_element_by_xpath("//iframe[@id='aswift_2']")
    d.switch_to.frame(frame0)
    frame = d.find_element_by_xpath("//iframe[@id='ad_iframe']")
    d.switch_to.frame(frame)
    d.find_element_by_xpath("//div[@id='mys-wrapper']//div[@id='dismiss-button']").click()
    t.sleep(2)
    d.switch_to.default_content()
    d.find_element_by_xpath("//a[contains(text(),'GDP of Indian states')]").click()

    t.sleep(2)
    url = d.current_url
    df = pd.read_html(url,match='GSDP')[0]
    df.drop(df.columns[-2:], axis=1, inplace = True)
    df.columns = ['Rank','State','GSDP(19-20)','GSDP(18-19)','Share(2018)','GDP($ billion)']
    df = df.iloc[:-1]
    df['Rank'] = df['Rank'].astype(int)
    d.quit()
    return df

In [88]:
url = 'http://statisticstimes.com/'
data = scrape_statewise_gdp_india(url)
data

,Rank,State,GSDP(19-20),GSDP(18-19),Share(2018),GDP($ billion)
0,1,Maharashtra,-,2632792,13.88%,398.145
1,2,Tamil Nadu,1845853,1630208,8.59%,246.529
2,3,Uttar Pradesh,1687818,1584764,8.35%,239.656
3,4,Gujarat,-,1502899,7.92%,227.276
4,5,Karnataka,1631977,1493127,7.87%,225.798
5,6,West Bengal,1253832,1089898,5.75%,164.820
6,7,Rajasthan,1020989,942586,4.97%,142.543
7,8,Andhra Pradesh,972782,862957,4.55%,130.501
8,9,Telangana,969604,861031,4.54%,130.210
9,10,Madhya Pradesh,906672,809592,4.27%,122.431
10,11,Kerala,-,781653,4.12%,118.206
11,12,Delhi,856112,774870,4.08%,117.180
12,13,Haryana,831610,734163,3.87%,111.024
13,14,Bihar,611804,530363,2.80%,80.204
14,15,Punjab,574760,526376,2.77%,79.601
15,16,Odisha,521275,487805,2.57%,73.768
16,17,Assam,-,315881,1.67%,47.769
17,18,Chhattisgarh,329180,304063,1.60%,45.982
18,19,Jharkhand,328598,297204,1.57%,44.945
19,20,Uttarakhand,-,245895,1.30%,37.186
20,21,Jammu & Kashmir,-,155956,0.82%,23.584
21,22,Himachal Pradesh,165472,153845,0.81%,23.265
22,23,Goa,80449,73170,0.39%,11.065
23,24,Tripura,55984,49845,0.26%,7.538
24,25,Chandigarh,-,42114,0.22%,6.369
25,26,Puducherry,38253,34433,0.18%,5.207
26,27,Meghalaya,36572,33481,0.18%,5.063
27,28,Sikkim,32496,28723,0.15%,4.344
28,29,Manipur,31790,27870,0.15%,4.215
29,30,Nagaland,-,27283,0.14%,4.126
30,31,Arunachal Pradesh,-,24603,0.13%,3.721
31,32,Mizoram,26503,22287,0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [90]:
url = 'https://github.com/'
d = get_drive_launch(url)
d.find_element_by_xpath("//summary[contains(text(),'Explore')]").click()
d.find_element_by_xpath("//a[contains(text(),'Trending ')]").click()

## 6. Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [91]:
url = 'https://www.billboard.com/'
d = get_drive_launch(url)

## 7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [111]:
def get_naukri_recruiters_details(url, search_key):
    names = []
    designs = []
    comps = []
    skills = []
    locations = []
    d = get_drive_launch(url)
    main_window = d.current_window_handle
    d.find_element_by_xpath("//div[contains(text(),'Recruiters')]").click()
    windows = d.window_handles
    d.switch_to.window(windows[1])
    t.sleep(2)
    d.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']").send_keys(search_key)
    d.find_element_by_xpath("//button[@type='submit']").click()

    name_elems = d.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

    for name_ele in name_elems:

        name = name_ele.text
        try:
            names.append(d.find_element_by_xpath("//a[@title='"+name+"']/../a").text)
        except NoSuchElementException:
            try:
                names.append(d.find_element_by_xpath("//a[@title='"+name+" ']/../a").text)
            except NoSuchElementException:
                names.append("-")

        try:
            designs.append(d.find_element_by_xpath("//a[@title='"+name+"']/../span[1]").text)
        except NoSuchElementException:
            try:
                designs.append(d.find_element_by_xpath("//a[@title='"+name+" ']/../span[1]").text)
            except NoSuchElementException:
                designs.append("-")

        try:
            comps.append(d.find_element_by_xpath("//a[@title='"+name+"']/../a[2]").text)
        except NoSuchElementException:
            try:
                comps.append(d.find_element_by_xpath("//a[@title='"+name+" ']/../a[2]").text)
            except NoSuchElementException:
                comps.append("-")

        try:
            skills.append(d.find_element_by_xpath("//a[@title='"+name+"']/../../following-sibling::div[@class='hireSec highlightable'][1]").text)
        except NoSuchElementException:
            try:
                skills.append(d.find_element_by_xpath("//a[@title='"+name+" ']/../../following-sibling::div[@class='hireSec highlightable'][1]").text)
            except NoSuchElementException:
                skills.append("-")

        try:
            locations.append(d.find_element_by_xpath("//a[@title='"+name+"']/../span[2]").text)
        except NoSuchElementException:
            try:
                locations.append(d.find_element_by_xpath("//a[@title='"+name+" ']/../span[2]").text)
            except NoSuchElementException:
                locations.append("-")
    df = pd.DataFrame({'Name':names, 'Designation':designs, 'Company':comps, 'Skills they hire for':skills, 'Location':locations})
    return d,df

In [112]:
url = 'https://www.naukri.com/'
d, data = get_naukri_recruiters_details(url, 'Data science')
d.quit()
data

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Nagpur
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
46,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
47,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
48,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

## 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [115]:
def get_highest_selling_novels(url):
    web_table_name = 'Top 100 best selling books of all time'
    data = pd.read_html(url,match = web_table_name)[0]
    return data

In [116]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
df = get_highest_selling_novels(url)
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

## 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Rating

F) Votes

In [117]:
url = 'https://www.imdb.com/list/ls095964455/'
d = get_drive_launch(url)

## 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [133]:
def get_uci_datasets_details(url):
    d = get_drive_launch(url)
    d.find_element_by_xpath("//b[contains(text(),'View ALL Data Sets')]").click()
    t.sleep(2)
    url = d.current_url
    d.quit()
    data = pd.read_html(url)[5]
    data.drop(0, inplace = True)
    data.columns = ['Dataset name','Data type','Task','Attribute type','No of instances','No of attribute','Year']
    return data

In [134]:
url = 'https://archive.ics.uci.edu/'
df = get_uci_datasets_details(url)
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
4,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
581,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,NaN,26737,4,2020
582,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
583,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
584,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020