In [18]:
import selenium
from selenium import webdriver
import time

In [52]:
def get_drive_launch(url):
    driver = webdriver.Chrome('./driver/chromedriver.exe')
    driver.maximize_window()
    driver.implicitly_wait(10)
    driver.get(url)
    return driver

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data. 

Note- All of the above steps have to be done in code. No step is to be done manually

In [53]:
drivr = get_drive_launch('https://www.naukri.com/')

drivr.find_element_by_id("qsb-keyword-sugg").send_keys('Data Analyst')
drivr.find_element_by_id('qsb-location-sugg').send_keys('Bangalore')
drivr.find_element_by_xpath("//div[@class='search-btn']/button").click()
print(drivr.find_element_by_xpath("//div[@class='sortAndH1Cont']/h1").text)
titles=[]
companies=[]
exps=[]
salaries=[]
locs=[]

job_titles = drivr.find_elements_by_xpath("//div[@class='info fleft']/a")
job_companies = drivr.find_elements_by_xpath("//div[@class='info fleft']/div/a[1]")
job_exps = drivr.find_elements_by_xpath("//div[@class='info fleft']/ul/li[1]")
job_salaries = drivr.find_elements_by_xpath("//div[@class='info fleft']/ul/li[2]")
job_locations = drivr.find_elements_by_xpath("//div[@class='info fleft']/ul/li[3]")
for job_title, job_company, job_exp, job_salary, job_loc in zip(job_titles[:10],job_companies[:10],job_exps[:10],job_salaries[:10],job_locations[:10]):
    titles.append(job_title.text)
    companies.append(job_company.text)
    exps.append(job_exp.text)
    salaries.append(job_salary.text)
    locs.append(job_loc.text)
import pandas as pd
dataFrame = pd.DataFrame({'Job Title':titles, 'Company':companies, 'Experience Required':exps,'Salary offered':salaries, 'Location':locs})
drivr.quit()
dataFrame

Data Analyst Jobs In Bangalore

,Job Title,Company,Experience Required,Salary offered,Location
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
1,Data Analyst,Super India Tech Mark,0-2 Yrs,"70,000 - 1,25,000 PA.",Bangalore/Bengaluru(Chintamani)
2,Data Analyst,tech mahindra ltd,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs,Not disclosed,Bangalore/Bengaluru
4,Data Analyst,Xiaomi,2-6 Yrs,Not disclosed,Bangalore/Bengaluru
5,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,2-7 Yrs,"4,00,000 - 9,00,000 PA.","Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
6,Senior Data Analyst,Cerner,3-5 Yrs,Not disclosed,Bangalore/Bengaluru
7,Data Analyst with Marketing Analytics-Capco,Capco Technologies Pvt Ltd,4-9 Yrs,"7,00,000 - 17,00,000 PA.","Pune, Bangalore/Bengaluru"
8,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-7 Yrs,Not disclosed,"Mumbai, Bangalore/Bengaluru"
9,Junior Data Analyst,Happy Marketer Private Ltd,1-3 Yrs,"3,00,000 - 7,00,000 PA.","Bangalore/Bengaluru, Mumbai (All Areas)"